body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.turbo-example {
  display: flex;
  flex-direction: column;
}

.turbo-example a {
  padding-bottom: 14px;
}

turbo-frame {
  border: 1px solid blue;
  border-radius: 10px;
  padding: 14px;
}
